.cab{
display: flex;
background-image: -moz-repeating-linear-gradient(rgb(228, 79, 104), white );
justify-content: space-evenly;
}
.sub{
color: rgb(189, 35, 66);
}
.titulo{
color:black;
}

.sec{
background-color: rgb(245, 102, 102);
display: flex;
justify-content:space-evenly;

}

.texto{
    color: crimson;
}

.s{ 
position: absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%) ;


background:#fff ;
height: 30px;
padding:10px;
border-radius: 40px;

display: flex ;
justify-content: space-between;
align-items: center;

}
.a{
    background: none;
    border: 0;
    outline: 0;
    padding:0 ;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
}
.d{
width: 50%;
height: 50px;
border-radius:50% ;
display: flex;
justify-content: center;
align-items: center;

}
.s:hover > .a{
    width: 320px;
    padding-left:  20px;

}