.cab{
 color: rgb(14, 13, 12); 
  background-color:rgb(233, 169, 73) ;
  display: flex;
  background-image: -moz-repeating-linear-gradient(rgb(240, 233, 234));
  justify-content: space-between;
}

.imgl3{
    width: 25%;
}

.img3{
    width: 25%;
}


.img2{
    width:5% ;
}
.botao{
    width:80px ;
    height: 50px ;
}







